/*
 * Copyright (c) 2018 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&spi1 {

	apa102@0 {
		compatible = "apa,apa102";
		reg = <0>;
		spi-max-frequency = <5250000>;
		label = "aa_leds";
	};
};

/ {
	gpio_keys {
		compatible = "gpio-keys-matrix";
		label = "aa_buttons";
		gpios-columns = <&gpioa 10 GPIO_DIR_IN>, <&gpioa 9 GPIO_DIR_IN>;
		gpios-rows = <&gpiob 0 GPIO_DIR_IN>, <&gpiob 5 GPIO_DIR_IN>, <&gpiob 4 GPIO_DIR_IN>;
	};
};
